.DS_Store
*.log
*.out
*.err
*.html
*.pyc
*.pyo
*~
.snakemake/
.quarto/
.Rproj.user/
__pycache__/
metadata/
nohup.out
nohup_logs/
slurm/
outputs/
results/
scratch/
staged_reads/
config/local*.yml
config/*_local.yml
